*{padding: 0px; margin: 0px;}
#head {
    background-image: url(header.jpg);
    position: relative;
    min-height: 180px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 30px;
    left: 250px;
}
p {
    color: white;
    position: absolute;
    bottom: 20px;
    right: 300px;
}
#menu {
    position: absolute;
    bottom: 0px;
    left: 200px;
}
#menu > ul > li {
    float: left;
    background: white;
    list-style: none;
    margin-left: 10px;
    
}