*{padding: 0px; margin: 0px;}
#head {
    background-image: url(header.jpg);
    position: relative;
    min-height: 180px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 30px;
    left: 250px;
}
p {
    color: white;
    position: absolute;
    bottom: 20px;
    right: 300px;
}
#menu {
    position: absolute;
    bottom: 0px;
    left: 200px;
}
#menu > ul > li {
    width: 90px;
    height: 40px;
    float: left;
    background: white;
    list-style: none;
    margin-left: 5px;
    text-align: center;
    line-height: 40px;
    position: relative;
    
}
#menu li a {
    color: black;
    text-decoration: none;
}
#menu li ul {
    width: 100%;
    position: absolute;
    list-style-type: none;
    display: none;
    
}
#menu li li a {
    color: white;
    text-decoration: none ;
}
#menu li li {
    line-height: 40px;
    margin-bottom: 1px;
    background: #333;
}
#menu li:hover ul {
    display: block;
}
